html, body, #__next {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

*::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle edges */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Color when hovering over the scrollbar */
}
