.admin {
  color: #FFF !important;
  float: right;
  margin-left: 12px;
}

.admin_button {
  color: #FFF !important;
}

.admin_button:hover {
  opacity: 0.75
}

.logo {
  color: #FFF !important;
  margin: 16px 0 0 -24px;
  float: left;
}

.avatar {
  border: 2px solid #444;
  box-shadow: 0 0 1px 0px rgba(255,255,255,.2);
  margin-right: -24px;
}

.username {
  color: white;
  margin-right: 18px;
}
